/* Återställ textfärger och textskuggor */
body, p, h1, h2, h3 {
    color: #000; /* Svart textfärg */
    text-shadow: none; /* Ingen textskugga */
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
}

input[type=submit] {
    display: none;
}

/* Ta bort skuggor, borders och filter på element */
section, article, .main, #wrapper, aside, aside section, header, footer, #myBtn, form {
    box-shadow: none;
    border: none;
    filter: none;
    text-shadow: none;
}


/* döljer navbar, sidhuvud, sidfot och inbäddade element */
nav, header, footer, iframe {
    display: none;
}

/* Ändrar storlek på bilder */
img, .presentation {
    max-width: 150px;
    height: auto;
}

#myBtn, button {
    display: none;
    border: none;
    color: #00000000;
    text-shadow: none;
    
}